.body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: url("/src/pages/Login/colorcombo-400x500.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


#form {

  width: 35rem;
  height: 67vh;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  align-content: stretch;
  margin: 0px 10px;

}

#h2 {

  color: #fff;
  text-align: center;
  margin-top: 1.8em;
  font-size: 2em;

}


#input {

  border: none;
  width: 99%;
  height: 2em;
  border-bottom: 0.1em solid#ffc800;
  background: none;
  padding: 0.6em;
  color: #fff;
}

#p1 {
  color: #ff00006d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#p2 {

  height: 2em;
  background: none;
  padding: 0.6em;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





.qqq {
  width: 75%;
}

#inputButtonLogin {

  width: 10.1em;
  height: 3.18em;
  background: #ffc800;
  border: none;
  color: #fff;
  border-radius: 0.9em;
  font-size: .9em;
}

#inputButtonLogin:hover {
  background: #fff;
  color: #ffc800;
  cursor: pointer;

}