.Allgroups{
    flex:15
}

.AllgroupsWrapper{
    padding: 20px;
}

.GroupContainer {
    display: flex;
    width: 100%;
    margin: auto;
  }
  
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
  }
  
  .blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .blog-heading span {
    color: rgb(111, 111, 161);
  }
  .blog-heading h3 {
    color: #262626;
    font-size: 2.4rem;
    font-weight: 600;
  }
  
  .blogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
  }
  
  .blogBox {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
  }
  
  .blogImg {
    width: 100%;
    height: auto;
  }
  .blogImg #img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit: cover;
    object-position: cover;
    /* border-radius: 50%; */

  }
  
  .blogText {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .blogText span {
    color: #3c50b0;
    font-size: 0.9rem;
  }
  .blogTitle {
    color: #757a93;
    font-size: 1rem;
  }
  .blogTitle:hover {
    color: #3c50b0;
    font-size: 1.1rem;
    transition: 0.9s;
  }
  .blogDesc {
    color: #9194a4;
    font-size: 0.9rem;
    min-height: 50px;
  }
  
  .blogBtn {
      /* display: flex;
      justify-content: center;
      align-items: center;
      justify-content: flex-start;
      margin: 15px 0px; */
  }
  
  .blogBtn1 {
   
    color: #ffffff;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .blogBtn1:hover {
      background-color: #23c483 ;
      color: #ffffff;
  }
  .blogBtn2 {
    background-color: rgb(177, 63, 65);
    color: #ffffff;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
  }
  .blogBtn2:hover {
      background-color: rgb(190, 26, 29);
      color: #ffffff;
  }
  
  .blogBtn3 {
    background-color: #1877f2;
    color: #ffffff;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 30px;
  }
  .blogBtn3:hover {
      background-color: #5391e1;
      color: #ffffff;
  }
  

/* form create group */

/*  Create Group Button */


.BtnAdd {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
 
  
  .BtnAdd:hover {
    background-color: brown;
    box-shadow: 0px 15px 15px rgb(182, 76, 76);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .BtnAdd:active {
    transform: translateY(-1px);
  }

/* ////////////////// */
/* CSS */
.Allgroups .btn {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  border: none;
  

}
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(35, 196, 131)  0%, rgb(35, 196, 131)  100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
/* ########################################################################### */


/* Group Form */
/* .container{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
} */
/* .content{
  margin-left: 150px;
  margin-right: -100px;
  width: 40%;
} */
.img{
  width: 500px;
}
#formm {
    background-color: #191938;
    padding: 30px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27px ;
    

}
  .feed-form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 300px;
    
  }
  
  .feed-form input {
    height: 54px;
    border-radius: 8px;
    background: white;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
  }
  
  .button_submit:hover, .feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #212529;
  }
  
  .button_submit {
    width: 100%;
    height: 54px;
    font-size: 14px;
    color: white;
    background: red;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
  }

  .label{
    display: inline-block;
    background-color:white;
    color: gray;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 2%;
   
  }
  

  /* ########################################################################### */
